a {
	text-decoration: none !important;
}

li {
	display: inline-block;
	padding: 5px;
	margin: 10px;
}


.logo {
	width: 225px;
}

.header-item {
	font-size: 24px;
	color: #8D81FF;
	font-weight: 700;
	font-family: FiraGO;

}

.general {
	font-size: 24px;
	color: #4E6FAE;
	font-weight: 700;
}

.logo-container {
    display: flex; /* Use flexbox for the logo and navigation */
    align-items: center; /* Align items vertically */
}


.image-container {
	display: flex; /* Use flexbox for the image container */
    align-items: center; /* Align items vertically */
    justify-content: center; /* Center items horizontally */
    height: 300px; /* Set a fixed height for the container */
    margin-top: 100px;
}

p {
	margin-top: 150px;
	margin-left: 137px;

}