a {
	text-decoration: none !important;
}

li {
	display: inline-block;
	padding: 5px;
	margin: 10px;
}


.logo {
	width: 225px;
}

.header-item {
	font-size: 24px;
	color: #8D81FF;
	font-weight: 700;
	font-family: FiraGO;

}

.general {
	font-size: 24px;
	color: #4E6FAE;
	font-weight: 700;
}

.logo-container {
    display: flex; 
    align-items: center; 
}


.image-container1 {
	display: flex;
    align-items: center; 
    justify-content: center;
    height: 300px; 
    margin-top: 100px;
}

h2 {
	margin-top: 150px;
	margin-left: 137px;
	font-weight: 700;
	color: #4E6FAE;
	height: 34px;
}

.image-container2 {
	margin-top: 30px;
	margin-left: 137px;
	width: 500px;
	left: 885px;

}

.image-container3 {
	margin-top: -170px;
	margin-left: 700px;
	width: 500px;
	left: 885px;
}

.image-container4 {
	margin-top: 30px;
	margin-left: 7.4em;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 50px; /* Adjust the margin-top value to move the image down */
}

.contact {
    width: 900px; /* Adjust the width of the image */
    height: auto; /* Maintain aspect ratio */